/* Larger than mobile */
@media (min-width: 400px) {
    footer {
        font-size: 1.6rem;
        line-height: 200%; /*Adds much needed height to links especially when it goes into two lines as it will on some sites*/
    }
    footer ul {
        padding: 2rem 0 0 0; /*Adds a gap above the list so it's not stuck to the bottom of the content above it*/
    }
    footer ul li {
        border-right: 0.3rem solid #000;
        display: inline-block;
        margin: 0;
        padding: 0 1rem 0 0.7rem;
    }
    /*Prevents unnecessary/problematic padding and borders on first and last elements in the list*/
    footer ul li:first-child {
        padding-left: 0;
    }
    footer ul li:last-child {
        border-right: 0;
        padding-right: 0;
    }
    header { /*Special slanted header design for desktop/tablet)*/
        height: 370px;
    }
    
    .address {
        margin-top 30px;
    }
    .fluid-images-3 img {     /*figure area containing 3 images side by side*/
        float: left; /*Lets them stack but breaks when a link is added*/
        max-width: 30.33%; /*-3% due to padding-left %*/
        padding-left: 4.5%; /*Would be 3% but the fact that the first one has no padding-left means we add 1.5% (half of the padding that would have been on the first image)*/
    }
    .form-buttons {
        height: 162px;
        margin-top: 50px;
    }
    .form-button {
        height: 54px;
    }
    .form-button-text {
        font: bold italic small-caps 2.2rem/0rem Arial;
        padding: 30px 0 0 10px;
    }
    .home-buttons {
        height: 162px;
        margin-top: 50px;
    }
    .home-button {
        height: 54px;
    }
    .home-button-text {
        font: bold italic small-caps 2.2rem/0rem Arial;
        padding: 30px 0 0 10px;
    }
    .home-splash {
        height: 600px; /*much taller thanks to needing to stack text and image on top of one another*/
        width: 120%; /*needs an extra 10% to hide right side slant over higher resolutions*/
    }
    .home-splash-bottom {
        height: 60px;
        padding-left: 0;
    }
    .home-splash-bottom-h2 {
        font-size: 2.2rem;
    }
    .home-splash-bottom-h3 {
        font-size: 2rem;
    }
    .home-splash-h1 {
        font-size: 2.8rem;
        padding-left: 14%;
    }
    .home-splash-image-container {
        width: 120%;
    }
    .home-splash-image-parent {
      margin-left: -10%;
    }
    .home-splash-image-child {
      position: absolute;
        left: 105px;
        top: -340px;
    }
    .home-splash-left {
        position: absolute;
            top: 0;
            left: 5%;
        width: 80%;
    }
    .home-splash-right {
        height: 235px;
    }
    .left {
        float: left;                                            /* restores floating for higher resolutions, same below */
    }
    .right {
        float: right;
    }
    .nav-main {
        margin: 0 0 0 51px;
    }
    .nav-main ul {
        margin: 0;
        text-align: left;
        width: 400px;
    }
    .nav-main ul li {
        display: inline-block;
        *display: inline;                                       /* IE7 */
            *zoom: 1;
        padding-left: 1.5rem;
    }
    .nav-main ul li:last-child {
        padding-right: 3rem; /*Counterbalances the padding-left so last element in list isn't hugging right side of page - actually pushes whole list 3rem to the left*/
    }
    
    .overflow-killer {
        height: 450px;
    }
    .perch-home-splash-text p {
        margin-top: -20px; 
        padding-left: 12%;
        padding-top: 0;
        width: 95%;
    }
    .small {
        font-size: 1.5rem;
    }
    /*YouTube embed responsive solution from https://coolestguidesontheplanet.com/videodrome/youtube/*/
        .video-container {
            position:relative;
            padding-bottom:56.25%;
            padding-top:30px;
            height:0;
            overflow:hidden;
        }
        .video-container iframe, .video-container object, .video-container embed {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
        }
}

@media (min-width: 470px) {
    /*These have to be at this point as they misbehave at 400px, header-title wraps badly*/
    .header-title {
        height: 50px;
        margin: 170px 0 0 20px;
        padding: 20px 50px 0 0px;
        position: static;
        top: 0;
        left: 0;
    }
    .logo {
        margin: 90px 0 0 30px;
        max-width: 201px;
        opacity: 1.0;
    }
}

/* Larger than phablet (also point when grid in Skeleton becomes active) */
@media (min-width: 550px) {
    header { /*Special slanted header design for desktop/tablet)*/
        height: 310px;
        position: absolute;
            left: -35px;
            top: 0;
        transform: rotate(-5deg);
        width: 120%;
    }
    
    ol {
        margin: 1.5rem auto;
        width: 60%;
    }
    ol li {
        padding: 0.5rem 0;
    }
    
    /*Restoring tables from mobile-friendly format*/
    table {
        margin: 0 auto;
        width:80%;
    }
    thead {
        display: table-header-group; /*Removes hidden status for table headers*/
    }
    thead th {
        padding: 2%;
    }
    tbody td {
        display: table-cell; /*Re-aligns table cells so they'll sit under their headers!*/
        padding: 2%;
    }
    tbody td::before { /*Disabling JavaScript stuff and changing formatting to normal table style*/
        content: none; /*Disables the JavaScript content generation used in the mobile-friendly layout*/
        display: table; /*Returns all cells to table alignment, without this they stay in one column*/
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }
    
    .about-top-nav {
        padding-left: 0rem;
    }
    .address { /*Less wide taller version to make room for the top area and still have enough room for text!*/
        height: 80px;
        margin-top: 0;
        position: absolute;
            right: -16px;
            top: -10px;
        transform: rotate(-40deg);
        transform: skew(-15deg,-3deg);
        width: 230px;
    }
    .address-p {
        font-size: 1.2rem;
        transform: rotate(2deg);
    }
    .address-charity {
        font-size: 1.1rem;
    }
    
    .corner {
        height: 40px;
    }
    
    .header-title {
        margin: 80px 0 0 20px;
        padding: 0 50px 0 0px;
        width: 100%;
    }
    
    .home-splash {
        height: 570px; /*much taller thanks to needing to stack text and image on top of one another*/
    }
    .home-splash-bottom {
        height: 80px;
    }
    .home-splash-bottom-h2 {
        font-size: 3rem;
    }
    .home-splash-bottom-h3 {
        font-size: 2.5rem;
    }
    .home-splash-h1 {
        padding-left: 8%;
    }
    .home-splash-image-container {
        margin-top: 70px;
        width: 40%;
    }
    .home-splash-image-parent {
      margin-left: 70%;
      height: 80%;
    }
    .home-splash-image-child {
      background: left 40% / 55% 80.82% url(../img/photo-home.jpg) no-repeat;
      position: absolute;
        left: -45px;
        top: -340px;
    }
    .home-splash-right {
        height: 250px;
    }
    
    .list-contents { /*Centred list of links for pages with subpages that I want to list*/
        background: #fff;
        border-top: 5px solid #ffa726;
        box-shadow: 20px 15px 40px #444;
        font-size: 2.5rem;
        list-style: none;
        margin: 2rem;
        padding: 1.5rem 0 1.5rem 0;
        text-align: center;
    }
    .list-contents li {
        display: inline-block;
        margin: 0;
        padding: 0 2rem 0 0;
    }
    
    .logo {
        margin: 20px 0 0 30px;
        max-height: 251px;
        max-width: 251px;
        position: static;
        transform: rotate(8deg); /*Negates header rotation as it's not needed*/
    }
    
    .nav-main {
        margin: 30px 0 0 281px;
        position: absolute;
            bottom: 0;
    }
    .nav-main ul {
        width: 250px;
    }
    .overflow-killer {
        height: 380px;
    }
    
    .perch-home-splash-text p {
        margin-top: 0; 
        padding-left: 10%;
        padding-top: 2%;
     }
    
    .quote-circle {
        background: left 0% / 100% 100% url(../img/quote.png) no-repeat;
        display: block;
        height: 149px;
        margin: 430px 0 0 0;
        position: absolute;
            right: 30px;
            top: -30px;
        width: 145px;
        z-index: 2; /*Has to be 2 due to .container needing a value of 1 to float over the .containerbottom area*/
    }
    .quote-name {
        float: right;
        padding-right: 20%;
    }
    .quote-text {
        color: #e6c96d;
        font: bold italic small-caps 1.4rem/1.4rem Arial;
        margin: 0;
        padding: 20% 22% 0 22%;
    }
    .quote-text-smaller {
        font: bold italic small-caps 1.5rem/1.3rem Arial;
        padding: 23% 2% 0 12%;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    header {
        height: 230px;
    }

    .address { /*Little version, makes more room for header-title*/
        height: 70px;
        width: 350px;
    }
    .container {
        z-index: 1; /*Allows .containerbottom to hide behind it!*/
    }
    .containerbottom { /*Contains the below and stops it from overflowing and hides the sides etc!*/
        height: 300px;
        margin-left: -70px;
        margin-top: -110px;
        overflow: hidden;
        z-index: 0;
    }
        .containerbottomgraphic { /*Used for wider viewports with slanted bottom and drop shadow, hidden behind .container, coincides with the home page buttons switching from 100% width mobile version to their button forms!*/
            box-shadow: 1px 10px 6px #000;
            height: 200px;
            transform: skew(-15deg,-3deg);
            width: 120%;
        }
    .content-subtitle {
        font: bold italic small-caps 3.5rem/3rem Arial;
    }
    .content-title {
        font: bold italic small-caps 3.5rem/3rem Arial;
        margin-bottom: 2rem;
    }
    .corner {
        height: 80px;
    }
    .fluid-images-club img {     /*figure area containing 3 images side by side*/
        /*float: left; had to remove as when you put a link in around images it ruins any margins etc for some reason */ /*Lets them stack*/
        margin-left: 2%; /*this works for some reason, I can't use first-child as that removes all margins and padding between items somehow. Could have something to do with Perch, I have no idea.*/
        max-width: 30.33%; /*-3% due to padding-left %*/
    }
    .form-buttons {
        float: right;
        height: 60px;
        width: 682px;
    }
    .form-button {
        box-shadow: 1px 5px 2px black;
        float: left;
        height: 54px;
        margin-right: 40px;
    }
    .header-title {
        font-size: 4rem;
        height: auto;
        margin: 80px 0 0 310px;
        padding: 0 0 0 30px;
        position: relative;
        width: 380px;
    }
    .home-buttons {
        float: right;
        height: 60px;
        width: 682px;
    }
    .home-button {
        box-shadow: 1px 5px 2px black;
        float: left;
        height: 54px;
        margin-right: 40px;
    }
    .home-button-contact {
        width: 190px;
    }
    .home-button-join {
        width: 128px;
    }
    .home-button-vol {
        width: 244px;
    }
    .home-splash {
        height: 400px; /*needed due to absolutely positioned elements not affecting size of box*/
        position: relative;
            left: -20px;
            top: 0;
        width: 110%;
    }
    .home-splash-bottom {
        height: 100px;
    }
    .home-splash-bottom-h2 {
        font-size: 3.5rem;
    }
    .home-splash-bottom-h3 {
        font-size: 3rem;
    }
    .home-splash-h1 {
        font-size: 2.8rem;
        padding-left: 0;
    }
    .home-splash-image-container {
        float: left;
        margin-top: 40px;
    }
    .home-splash-image-parent {
      margin-left: 10%;
      width: 60%;
    }
    .home-splash-left {
        float: left;
        width: 45%;
    }
    .home-splash-right {
        /*Right now this is horribly hacked and this part actually takes up the whole box and the image container and stuff sort of sticks to the right side... yes I don't know how it works guilty as charged*/
        float: left;
        height: 300px;
        width: 55%;
    }
    .logo {
        margin: 0;
        max-height: 241px;
        max-width: 241px;
        position: relative;
            left: 50px;
            top: 60px;
    }
    .nav-main ul {
        text-align: center;
        width: 500px;
    }
    .nav-main ul li {
        display: inline-block;
        *display: inline;                                       /* IE7 */
            *zoom: 1;
        font-size: 1.9rem;
        padding-left: 1.5rem;
    }
    /*Styles nav-top to be left-aligned and not in a strip across the top*/
    .nav-top {
        background: none;
        height: 30px;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .nav-top ul {
      padding-left: 1rem;
      text-align: left;
    }
    .nav-top ul li {
      display: inline-block;
      *display: inline;                                       /* IE7 */
      *zoom: 1;
      font-size: 1.4rem;
      padding-left: 3rem;
    }
    .nav-top ul li:first-child {
      padding-left: 0; /*Removes for first bullet so it aligns nicely at top of page*/
    }
    .nav-top ul li:last-child {
      padding-right: 3rem; /*Counterbalances the padding-left so last element in list isn't hugging right side of page - actually pushes whole list 3rem to the left*/
    }
    
    .overflow-killer {
        height: 340px;
    }
    
    .perch-home-splash-text p {
        padding-left: 0%;
        padding-top: 0;
    }
    
    .quote-circle {
        margin: 300px 0 0 0;
    }
    
    .textbig7 {
        font-size: 7rem;
    }
    .textbig8 {
        font-size: 8rem;
    }
    .textbig9 {
        font-size: 9rem;
    }
    .textmid175 {
        font-size: 1.75rem;
    }
    .textmid2 {
        font-size: 2rem;
    }
    .textmid2-scale {
        font-size: 2rem;
    }
    .textmid3 {
        font-size: 2rem;
    }
    .textmid35 {
        font-size: 3.5rem;
    }
    .textshadow-mid {
        text-shadow: 4px 4px 8px #333;
    }
    .textshadow-soft {
        text-shadow: 4px 4px 12px #666;
    }
    .textshadow-strong {
        text-shadow: 4px 4px 9px #000;
    }
    .width-50 {
        width: 50%;
    }
    
    .width-80 {
        width: 80%;
    }

    .width-90 {
        width: 90%;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    .address { /*Second biggest version, makes more room for header-title*/
        height: 120px;
        width: 190px;
    }
    .address-p {
        font-size: 1.4rem;
        transform: rotate(0deg);
    }
    .content-row {
        margin: 5rem 0rem 6rem 0rem;
    }
    .header-title {
        font-size: 5rem;
        margin: 80px 0 0 340px;
        transform: rotate(-2deg);
        width: 460px;
    }
    .fluid-images-club img {     /*figure area containing 3 images side by side*/
        /*float: left; had to remove as when you put a link in around images it ruins any margins etc for some reason */ /*Lets them stack*/
        margin-left: 2%; /*this works for some reason, I can't use first-child as that removes all margins and padding between items somehow. Could have something to do with Perch, I have no idea.*/
        max-width: 30.33%; /*-3% due to padding-left %*/
    }
    .form-buttons {
        height: 80px;
        margin-top: 50px;
        width: 892px;
    }
    .form-button {
        height: 64px;
    }
    .form-button-text {
        font: bold italic small-caps 2.8rem/0rem Arial;
        padding: 30px 0 0 20px;
    }
    .home-buttons {
        height: 80px;
        margin-top: 50px;
        width: 892px;
    }
    .home-button {
        height: 64px;
    }
    .home-button-text {
        font: bold italic small-caps 2.8rem/0rem Arial;
        padding: 30px 0 0 20px;
    }
    .home-button-contact {
        width: 230px;
    }
    .home-button-join {
        width: 178px;
    }
    .home-button-vol {
        width: 364px;
    }
    .home-splash {
        margin-top: 10px;
    }
    .home-splash-h1 {
        font-size: 3.8rem;
    }
    .logo {
        max-height: 271px;
        max-width: 271px;
    }
    .margin-10-top-scale { /*Mainly used to separate content boxes so don't always want it to be this much, it's lowered on lower resolutions*/
        margin-top: 10rem;
    }
    .nav-main {
        margin: 20px 0 0 301px;
        position: absolute;
        bottom: 30px;
    }
    .nav-main ul {
        line-height: 2rem;
        text-align: left;
        width: 800px;
    }
    .nav-top ul li {
        font-size: 2.2rem;
    }
    .overflow-killer {
        height: 370px;
    }
    .perch-home-splash-text p {
        font-size: 2rem;
    }
    .perch-textblock h1 {
        font-size: 4rem;
    }
    .perch-textblock img { /*targets images that are alone*/
        margin: 0 0 0 25%;
        padding: 2.5% 0 2.5% 0;
        width: 50%;
    }
    .perch-textblock p img { /*targets the images when they're two in a line as they're always in <p> tags*/
        margin: 0;
        padding: 0;
        width: 45%; /*to compensate for 10% margin on first image below - 45+45=90 and then 10% margin*/
    }
    .perch-textblock p img:first-child {
        margin-right: 10%; /*so there's some space between two images in a line*/
    }
    .quote-circle {
        background: left 0% / 100% 100% url(../img/quote.png) no-repeat;
        height: 185px;
        position: absolute;
            right: 30px;
            top: 40px;
        width: 180px;
    }
    .quote-text {
        font: bold italic small-caps 1.7rem/1.7rem Arial;
        padding: 25% 15% 0 15%;
    }
    .quote-text-smaller {
        font: bold italic small-caps 1.5rem/2.2rem Arial;
        padding: 15% 18% 0 21%;
    }
    .table { /*For any tables on the website, particularly diary page*/
        font-size: 2.2rem;
    }
    .textmid3 { /*This gets used quite a lot and doesn't look right at higher resolutions unless it's bigger*/
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {
    header {
        height: 235px;
    }
    .about-top {
        padding-left: 0;
        width: 80%;
    }
    .content {
        width: 90%;
    }
    .content-row {
        margin: 10rem 6rem 6rem 6rem;
    }
    .form-buttons {
        height: 100px;
        margin-top: 70px;
        width: 1072px;
    }
    .form-button {
        height: 84px;
    }
    .form-button-text {
        font: bold italic small-caps 3.5rem/0rem Arial;
        padding: 40px 0 0 20px;
    }
    .header-title {
        font-size: 6rem;
        margin: 80px 0 0 320px;
        width: 550px;
    }
    .home-buttons {
        height: 100px;
        margin-top: 70px;
        width: 1072px;
    }
    .home-button {
        height: 84px;
    }
    .home-button-text {
        font: bold italic small-caps 3.5rem/0rem Arial;
        padding: 40px 0 0 20px;
    }
    .home-button-contact {
        width: 290px;
    }
    .home-button-join {
        width: 238px;
    }
    .home-button-vol {
        width: 424px;
    }
    .home-splash {
        margin-top: 30px;
    }
    .home-splash-h1 {
        font-size: 5rem;
    }
    .home-splash-image-container {
        height: 300px;
        margin-top: 0;
    }
    .home-splash-image-child {
      background: left 30% / 90% 135% url(../img/photo-home.jpg) no-repeat;
      position: absolute;
        left: -70px;
        top: -340px;
    }
    .home-splash-image-parent {
      width: 50%;
    }
    .home-splash-left {
        width: 50%;
    }
    .home-splash-right {
        width: 60%;
    }
    .nav-main {
        position: absolute;
        bottom: 0;
    }
    .nav-main ul {
        width: 900px;
    }
    .nav-main ul li {
        font-size: 2.1rem;
        padding-left: 2rem;
    }
    .overflow-killer {
        height: 375px;
    }
    .quote-circle {
        background: left 0% / 100% 100% url(../img/quote.png) no-repeat;
        height: 216px;
        position: absolute;
            right: 30px;
            top: 10px;
        width: 210px;
    }
    .quote-text {
        font: bold italic small-caps 2rem/2rem Arial;
    }
    .quote-text-smaller {
        font: bold italic small-caps 1.8rem/2.6rem Arial;
        padding: 15% 15% 0 18%;
    }
}



/* Larger than Desktop HD */
@media (min-width: 1300px) {
    /*Not finished with this, needs breakpoint adjustments etc later when have logo graphics finalised*/
        footer {
            margin-top: 120px; /*Needed to give the SCYP logo space as it's absolutely positioned so its own margins don't matter!*/
            position: relative; /*Needed to make .link-scyp box stick*/
            width: 100%;
        }
        .footer-links-box {
            width: 100%;
            height: 250px;
        }
        .footer-links-box-inner {
            height: 250px;
            margin: 0 auto;
            width: 1032px; /*Needs to equal width of all logos that it needs to contain at current resolution*/
        }
        .footer-link-brtc {
            float: left;
            height: 322px;
            width: 212px;
        }
        .footer-link-fb {
            float: left;
            height: 212px;
            width: 212px;
        }
        .footer-link-lottery {
            float: left;
            height: 222px;
            width: 284px;
        }
        .footer-link-scyp {
            height: 200px;
            position: absolute;
                bottom: 850px; /*Has to be adjusted if footer gets taller*/
                right: 50px;
            width: 575px;
            z-index: 3;
        }
        .footer-link-wscc {
            float: left;
            height: 207px;
            width: 324px;
        }
    /*End of unfinished footer area*/
    
    header {
        height: 300px;
    }
    
    .corner {
        height: 100px;
    }
    .form-buttons {
        margin-top: 50px;
    }
    .header-title {
        font-size: 9rem;
        margin: 80px 0 0 420px;
        padding: 0 0 0 40px;
        width: 820px;
    }
    .home-buttons {
        margin-top: 50px;
    }
    .home-splash {
        height: 430px; /*Compensating for Learn More link going behind home-splash-bottom*/
    }
    .home-splash-bottom-h2 {
        font-size: 4rem;
    }
    .home-splash-bottom-h3 {
        font-size: 3.5rem;
    }
    .home-splash-h1 {
        font-size: 5.5rem;
    }
    
    .logo {
        max-height: 361px;
        max-width: 361px;
    }
    .nav-main {
        margin: 20px 0 0 391px;
        position: absolute;
            bottom: 20px;
        width: 300px;
    }
    .nav-main ul {
        width: 1100px;
    }
    .nav-main ul li {
        font-size: 2.5rem;
        padding-left: 3rem;
    }
    .nav-main ul li:last-child {
        padding-right: 3rem; /*Counterbalances the padding-left so last element in list isn't hugging right side of page - actually pushes whole list 3rem to the left*/
    }
    .overflow-killer {
        height: 485px;
    }
    .perch-home-splash-text p {
        font-size: 2.5rem;
    }
    .quote-circle {
        background: left 0% / 100% 100% url(../img/quote.png) no-repeat;
        height: 230px;
        position: absolute;
            right: 30px;
            top: 120px;
        width: 237px;
    }
    .quote-text {
        font: bold italic small-caps 2.2rem/3rem Arial;
        padding: 15% 20% 0 20%;
    }
    .quote-text-smaller {
        padding: 15% 18% 0 18%;
    }
}

@media (min-width: 1400px) {
    .address {
        height: 180px;
        position: absolute;
            right: -24px;
            top: -8px;
        width: 300px;
    }
    .address-p {
        font-size: 1.8rem;
        margin: 15px 0 0 20px;
        padding-right: 10px; /*Stops registered charity part from going off-screen*/
        width: 260px; /*Helps with word wrapping*/
    }
    .address-charity {
        font-size: 1.8rem;
    }
}