/* Larger than mobile */
@media (min-width: 400px) {
    .home-splash {
        height: 600px; /*much taller thanks to needing to stack text and image on top of one another*/
        overflow: hidden; /*hides my cheating with the rotated elements, especially the image and its containing boxes!*/
        margin-top: 0;
        position: relative;
            left: -40px; /*larger than higher resolutions as box is taller and can see more of the slant*/
            top: 0;
        transform: rotate(-5deg);
        width: 120%; /*needs an extra 10% to hide right side slant over higher resolutions*/
    }
    .home-splash-bottom {
        height: 60px;
        position: absolute;
            left: 0;
            bottom: 0;
        width: 100%;
    }
    .home-splash-bottom-h2 {
        font-size: 2.2rem;
    }
    .home-splash-bottom-h3 {
        font-size: 2rem;
    }
    .home-splash-h1 {
        font-size: 2.8rem;
        padding-left: 14%;
        width: 100%;
    }
    .home-splash-image-container {
        float: none; /*For mobile vertical layout*/
        height: 250px;
        margin-top: 0;
        transform: rotate(-20deg);/*Have to rotate at this level, won't work on the image*/
        width: 120%;
    }
    .home-splash-image-parent {
      border: 8px solid #fff;
      margin-left: -10%;
      height: 100%;
      overflow: hidden;
      transform: skew(15deg,15deg);
      width: 100%;
    }
    .home-splash-image-parent > * {
      transform: rotate(22deg) skew(-10deg,-10deg); 
    }
    .home-splash-image-child {
      background: left 40% / 70% 100.8% url(../img/photo-home.jpg) no-repeat;
      height: 960px;
      position: absolute;
        left: 105px;
        top: -340px;
      width: 720px;
    }
    .home-splash-left {
        float: none; /*For mobile layout vertical stacking*/
        height: 300px;
        position: absolute; /*Basically allows it not to affect the right-hand side image area which I set up before this bit*/
            top: 0;
            left: 5%;
        width: 80%; /*Limits width of area for text nicely so doesn't overflow*/
    }
    .home-splash-right {
        float: none; /*For mobile layout vertical stacking*/
        height: 235px;
        width: 100%;
    }
    .home-splash-text {
        font-size: 1.8rem;
        margin-top: -20px; 
        padding-left: 12%;
        padding-top: 0;
        width: 95%;
    }
    .quote-circle {
        display: none;
    }
    
    footer {
        font-size: 1.6rem;
        line-height: 200%; /*Adds much needed height to links especially when it goes into two lines as it will on some sites*/
    }
    footer ul {
        padding: 2rem 0 0 0; /*Adds a gap above the list so it's not stuck to the bottom of the content above it*/
    }
    footer ul li {
        border-right: 0.3rem solid #000;
        display: inline-block;
        margin: 0;
        padding: 0 1rem 0 0.7rem;
    }
    /*Prevents unnecessary/problematic padding and borders on first and last elements in the list*/
    footer ul li:first-child {
        padding-left: 0;
    }
    footer ul li:last-child {
        border-right: 0;
        padding-right: 0;
    }
    header { /*Special slanted header design for desktop/tablet)*/
        height: 400px;
    }
    
    .address { /*Less wide taller version to make room for the top area and still have enough room for text!*/
        margin-top: 30px;
    }
    .fluid-images-3 img {     /*figure area containing 3 images side by side*/
        float: left; /*Lets them stack but breaks when a link is added*/
        max-width: 30.33%; /*-3% due to padding-left %*/
        padding-left: 4.5%; /*Would be 3% but the fact that the first one has no padding-left means we add 1.5% (half of the padding that would have been on the first image)*/
    }
    .header-title {
        height: 100px;
        margin: 100px 0 0 20px;
        padding: 0 50px 0 0px;
        position: static;
        top: 0;
        left: 0;
    }
    .left {
        float: left;                                            /* restores floating for higher resolutions, same below */
    }
    .right {
        float: right;
    }
    .logo {
        margin: 90px 0 0 30px;
        max-width: 201px;
        opacity: 1.0;
    }
    .nav-main {
        margin: 0 0 0 51px;
    }
    .nav-main ul {
        margin: 0;
        text-align: left;
        width: 300px;
    }
    .nav-main ul li {
        display: inline-block;
        *display: inline;                                       /* IE7 */
            *zoom: 1;
        padding-left: 1.5rem;
    }
    .nav-main ul li:last-child {
        padding-right: 3rem; /*Counterbalances the padding-left so last element in list isn't hugging right side of page - actually pushes whole list 3rem to the left*/
    }
    .nav-top {
      height: 30px;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .nav-top ul {
      padding-left: 1rem;
      text-align: left;
    }
    .nav-top ul li {
      display: inline-block;
      *display: inline;                                       /* IE7 */
      *zoom: 1;
      font-size: 1.4rem;
      padding-left: 3rem;
    }
    .nav-top ul li:first-child {
      padding-left: 0; /*Removes for first bullet so it aligns nicely at top of page*/
    }
    .nav-top ul li:last-child {
      padding-right: 3rem; /*Counterbalances the padding-left so last element in list isn't hugging right side of page - actually pushes whole list 3rem to the left*/
    }
    .overflow-killer {
        height: 450px;
    }
    .small {
        font-size: 1.5rem;
    }
    /*YouTube embed responsive solution from https://coolestguidesontheplanet.com/videodrome/youtube/*/
        .video-container {
            position:relative;
            padding-bottom:56.25%;
            padding-top:30px;
            height:0;
            overflow:hidden;
        }
        .video-container iframe, .video-container object, .video-container embed {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
        }
}

/* Larger than phablet (also point when grid in Skeleton becomes active) */
@media (min-width: 550px) {
    .home-splash {
        height: 520px; /*much taller thanks to needing to stack text and image on top of one another*/
    }
    .home-splash-bottom {
        height: 80px;
    }
    .home-splash-bottom-h2 {
        font-size: 3rem;
    }
    .home-splash-bottom-h3 {
        font-size: 2.5rem;
    }
    .home-splash-h1 {
        padding-left: 8%;
    }
    .home-splash-image-container {
        margin-top: 70px;
        width: 40%;
    }
    .home-splash-image-parent {
      margin-left: 70%;
      height: 80%;
    }
    .home-splash-image-child {
      background: left 40% / 55% 80.82% url(../img/photo-home.jpg) no-repeat;
      position: absolute;
        left: -45px;
        top: -340px;
    }
    .home-splash-right {
        height: 200px;
    }
    .home-splash-text {
        margin-top: 0; 
        padding-left: 10%;
        padding-top: 2%;
    }
    .quote-circle {
        background: left 0% / 55% 55% url(../img/quote.png) no-repeat;
        display: block;
        height: 272px;
        margin: 300px 0 0 0;
        position: absolute;
            right: -100px;
            top: -50px;
        width: 264px;
        z-index: 1;
    }
    .quote-name {
        float: right;
        padding-right: 20%;
    }
    .quote-text {
        color: #e6c96d;
        font: bold italic small-caps 1.4rem/1.4rem Arial;
        margin: 0;
        padding: 10% 55% 0 12%;
    }
    
    header { /*Special slanted header design for desktop/tablet)*/
        background: red;
        height: 250px;
        position: absolute;
            left: -35px;
            top: 0;
        transform: rotate(-5deg);
        width: 120%;
    }
    
    ol {
        margin: 1.5rem auto;
        width: 60%;
    }
    ol li {
        padding: 0.5rem 0;
    }
    
    /*Restoring tables from mobile-friendly format*/
    table {
        margin: 0 auto;
        width:80%;
    }
    thead {
        display: table-header-group; /*Removes hidden status for table headers*/
    }
    thead th {
        padding: 2%;
    }
    tbody td {
        display: table-cell; /*Re-aligns table cells so they'll sit under their headers!*/
        padding: 2%;
    }
    tbody td::before { /*Disabling JavaScript stuff and changing formatting to normal table style*/
        content: none; /*Disables the JavaScript content generation used in the mobile-friendly layout*/
        display: table; /*Returns all cells to table alignment, without this they stay in one column*/
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }
    
    .address { /*Less wide taller version to make room for the top area and still have enough room for text!*/
        position: absolute;
            right: -16px;
            top: -10px;
        transform: rotate(-40deg);
        transform: skew(-15deg,-3deg);
        width: 270px;
    }
    .address-p {
        font-size: 1.2rem;
        transform: rotate(2deg);
    }
    .address-charity {
        font-size: 1.1rem;
    }
    
    .corner {
        height: 40px;
    }
    
    .header-title {
        height: 50px;
        width: 100%;
    }
    
    .list-contents { /*Centred list of links for pages with subpages that I want to list*/
        background: #fff;
        border-top: 5px solid #ffa726;
        box-shadow: 20px 15px 40px #444;
        font-size: 2.5rem;
        list-style: none;
        margin: 2rem;
        padding: 1.5rem 0 1.5rem 0;
        text-align: center;
    }
    .list-contents li {
        display: inline-block;
        margin: 0;
        padding: 0 2rem 0 0;
    }
    
    .logo {
        margin: 20px 0 0 30px;
        max-height: 251px;
        max-width: 251px;
        position: static;
        transform: rotate(8deg); /*Negates header rotation as it's not needed*/
    }
    
    .nav-main {
        margin: 30px 0 0 281px;
        position: absolute;
            bottom: 0;
        width: 300px;
    }
    .overflow-killer {
        height: 300px;
    }
    
    
}

/* Larger than tablet */
@media (min-width: 750px) {
    .home-splash {
        height: 400px; /*needed due to absolutely positioned elements not affecting size of box*/
        position: relative;
            left: -20px;
            top: 0;
        width: 110%;
    }
    .home-splash-bottom {
        height: 100px;
    }
    .home-splash-bottom-h2 {
        font-size: 3.5rem;
    }
    .home-splash-bottom-h3 {
        font-size: 3rem;
    }
    .home-splash-h1 {
        font-size: 2.8rem;
        padding-left: 0;
    }
    .home-splash-image-container {
        float: left;
        margin-top: 40px;
    }
    .home-splash-image-parent {
      margin-left: 10%;
      width: 60%;
    }
    .home-splash-left {
        float: left;
        width: 45%;
    }
    .home-splash-right {
        /*Right now this is horribly hacked and this part actually takes up the whole box and the image container and stuff sort of sticks to the right side... yes I don't know how it works guilty as charged*/
        float: left;
        height: 300px;
        width: 55%;
    }
    .home-splash-text {
        padding-left: 0%;
        padding-top: 0;
    }
    
    
    header {
        height: 220px;
    }

    .address { /*Little version, makes more room for header-title*/
        height: 60px;
        width: 350px;
    }
    .corner {
        height: 80px;
    }
    .header-title {
        font-size: 4rem;
        height: auto;
        margin: 80px 0 0 310px;
        padding: 0 0 0 30px;
        position: relative;
        width: 380px;
    }
    .logo {
        margin: 0;
        max-height: 241px;
        max-width: 241px;
        position: relative;
            left: 50px;
            top: 5px;
    }
    .nav-main ul {
        text-align: center;
        width: 500px;
    }
    .nav-main ul li {
        display: inline-block;
        *display: inline;                                       /* IE7 */
            *zoom: 1;
        font-size: 1.9rem;
        padding-left: 1.5rem;
    }
    
    .textbig7 {
        font-size: 7rem;
    }
    .textbig8 {
        font-size: 8rem;
    }
    .textbig9 {
        font-size: 9rem;
    }
    .textmid1.75 {
        font-size: 1.75rem;
    }
    .textmid2 {
        font-size: 2rem;
    }
    .textshadow-mid {
        text-shadow: 4px 4px 8px #333;
    }
    .textshadow-soft {
        text-shadow: 4px 4px 12px #666;
    }
    .textshadow-strong {
        text-shadow: 4px 4px 9px #000;
    }
    .width-50 {
        width: 50%;
    }
    
    .width-80 {
        width: 80%;
    }

    .width-90 {
        width: 90%;
    }
}



/* Larger than desktop */
@media (min-width: 1000px) {
    .home-splash {
        margin-top: 50px;
    }
    .home-splash-h1 {
        font-size: 3.8rem;
    }
    .home-splash-text {
        font-size: 2rem;
    }
    .quote-circle {
        background: left 0% / 65% 65% url(../img/quote.png) no-repeat;
        position: absolute;
            right: -40px;
            top: 40px;
    }
    .quote-text {
        font: bold italic small-caps 1.7rem/1.7rem Arial;
        padding: 15% 35% 0 12%;
    }
    
    .address { /*Second biggest version, makes more room for header-title*/
        height: 120px;
        width: 190px;
    }
    .address-p {
        font-size: 1.4rem;
        transform: rotate(0deg);
    }
    .header-title {
        font-size: 5rem;
        margin: 80px 0 0 340px;
        transform: rotate(-2deg);
        width: 460px;
    }
    .logo {
        max-height: 271px;
        max-width: 271px;
    }
    .nav-main {
        margin: 20px 0 0 341px;
    }
    .nav-main ul {
        line-height: 2rem;
        text-align: left;
        width: 800px;
    }
    .overflow-killer {
        height: 350px;
    }
}

@media (min-width: 1200px) {
    .home-splash-h1 {
        font-size: 5rem;
    }
    .home-splash-image-container {
        height: 300px;
        margin-top: 0;
    }
    .home-splash-image-child {
      background: left 30% / 90% 135% url(../img/photo-home.jpg) no-repeat;
      position: absolute;
        left: -70px;
        top: -340px;
    }
    .home-splash-image-parent {
      width: 50%;
    }
    .home-splash-left {
        width: 50%;
    }
    .home-splash-right {
        width: 60%;
    }
    .quote-circle {
        background: left 0% / 75% 75% url(../img/quote.png) no-repeat;
        position: absolute;
            right: 10px;
            top: 40px;
    }
    .quote-text {
        font: bold italic small-caps 2rem/2rem Arial;
    }
    
    header {
        height: 250px;
    }
    .header-title {
        font-size: 6rem;
        margin: 80px 0 0 390px;
        width: 550px;
    }
    .nav-main ul li {
        font-size: 2.1rem;
        padding-left: 2rem;
    }
    .overflow-killer {
        height: 375px;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1300px) {
    .home-splash-bottom-h2 {
        font-size: 4rem;
    }
    .home-splash-bottom-h3 {
        font-size: 3.5rem;
    }
    .home-splash-h1 {
        font-size: 5.5rem;
    }
    .quote-circle {
        background: left 0% / 85% 85% url(../img/quote.png) no-repeat;
        position: absolute;
            right: 50px;
            top: 120px;
    }
    .quote-text {
        font: bold italic small-caps 2.2rem/3rem Arial;
        padding: 15% 25% 0 15%;
    }
    
    header {
        height: 300px;
    }
    .address {
        height: 120px;
        position: absolute;
            right: -20px;
            top: -10px;
        width: 300px;
    }
    .address-p {
        font-size: 1.8rem;
    }
    .address-charity {
        font-size: 1.4rem;
    }
    .corner {
        height: 100px;
    }
    .header-title {
        font-size: 7rem;
        margin: 120px 0 0 420px;
        padding: 0 0 0 40px;
        width: 650px;
    }
    .logo {
        max-height: 361px;
        max-width: 361px;
    }
    .nav-main {
        margin: 20px 0 0 391px;
        width: 300px;
    }
    .nav-main ul {
        width: 1000px;
    }
    .nav-main ul li {
        font-size: 2.5rem;
        padding-left: 3rem;
    }
    .nav-main ul li:last-child {
        padding-right: 3rem; /*Counterbalances the padding-left so last element in list isn't hugging right side of page - actually pushes whole list 3rem to the left*/
    }
    .overflow-killer {
        height: 475px;
    }
}