<perch:help>
  <p><strong>Instructions:</strong></p>

  <p>This is for the diary page table that displays all the dates and events etc.</p>
    
    <p>Each row of the diary table has its own distinct page on Perch that you can use to edit it (with this being one of them). You will see a list of these pages when you first click on the "Diary" link in order to edit the diary entries (you likely came here from that page).</p>

  <p>You can either:<br />
    <span style="padding-left: 20px">- <strong>Edit an existing diary entry</strong> by changing the fields that are currently on this page</span><br />
    <span style="padding-left: 20px">- <strong>Add a new diary entry</strong> to the bottom of the list by scrolling to the bottom of this page and clicking "Save &amp; Add another", which will result in a new page loading containing a new blank set of fields (added to the bottom of the current rows in the diary table) that can then be filled in with appropriate text.</span>

  <p><strong>A special notice or meeting without activities can be added in place of a normal event</strong> entry simply by leaving the activities field blank and entering the notice that you want to display as the event's title. Dates are still required; if dates really don't apply just put a dash (-) there, that will be accepted. The field just can't be blank!</p>
    
    <p>To reorder the diary items: go to the "Diary" page (mentioned at the top here) so you can see the full list of all the entries in the diary table. On the top right should be a button labelled "Reorder", click this and it will change the appearance of the list, and you can now click and drag each item to reorder it. Click the "Save Changes" button at the bottom of the list when finished.</p>

</perch:help>

<tr>
  <td scope="row"><perch:content id="textDate" type="text" label="Date of event" required="true" title="true" /></td>

  <td scope="row"><strong><perch:content id="textEvent" type="text" label="Event title/times etc" required="true" title="true" /></strong></td>

  <td scope="row"><perch:content id="textActivities" type="text" label="Activities taking place at event" required="false" title="true" help="(Details of what's taking place at the event if needed, can leave blank)" /><br />
  <strong><em><perch:content id="textAlert" type="text" label="Special notice" required="false" title="true" help="Special alert (optional), attached to activities message, will appear in bold italicised text" /></em></strong></td>
</tr>
