<perch:help>
  <p><strong>Instructions:</strong></p>
    
    <p>Each file on the policies list has its own distinct page on Perch that you can use to edit it (with this being one of them). You will see a list of these pages when you first click on the "Policies files" link in order to edit the list (you likely came here from that page).</p>

  <p>On each list item page, you can either:<br />
    <span style="padding-left: 20px">- <strong>Edit an existing file</strong> by changing the fields that are currently on this page</span><br />
    <span style="padding-left: 20px">- <strong>Add a new file</strong> to the list by scrolling to the bottom of this page and clicking "Save &amp; Add another", which will result in a new page loading containing a new blank set of fields (added to the bottom of the current policies files list) that can then be filled in as below with appropriate text and a link to a file. See below for instructions:</span>

  <p style="padding-left: 20px">
    - <strong>"Text to display in link to file" field:</strong> this is what the link will say, for instance "2017 report document", which would then output a link saying just that, which the user can then click to be taken to the download in question.

    <br />

    - <strong>"Download type" field:</strong> this is the file type in question which is displayed after the link to tell the user what it is that they are downloading. For instance, PDF or Word Document. You can also cheat and use this field to add any other information related to the file if you want, just be careful to not make the explanation too long or it might distort the page layout!

    <br />

    - <strong>"File" field:</strong> this area is where you can select your file. To do this you will need to:<br />
    <span style="padding-left: 20px">- Click "Select or upload a file"<br />
    <span style="padding-left: 20px">- In the resulting Select an Asset area that pops up, either:<br />
      <span style="padding-left: 40px"> - Click an existing item that you want to link to and then click "Use Selected", or<br />
      <span style="padding-left: 40px"> - Click the "+Add Asset" button in the top right, and then either drop a file into the indicated box area or click the box area to select the file from your computer.<br />
      <span style="padding-left: 60px">- Click the file that you just added, now in a little box in the "Select an Asset" area<br />
      <span style="padding-left: 60px">- Click "Use Selected" in the top right of the "Select an Asset" section ("Use Selected" should be highlighted green if you've correctly clicked a file to be used, if not just try clicking again or "Use Selected" won't do anything)<br />

    <span style="padding-left: 20px">- <strong>N.B. if you enter this area by accident and want to go back</strong>, click the grey (X) icon in the far top right of the screen, or press ESC on your keyboard.<br />
    <span style="padding-left: 20px">- PDF format for documents is preferable if you can manage it as more people can read this format than items created in Word etc! And of course PDFs can't be edited.
  </p>

  <p><strong>To delete an item:</strong> click the little red "Delete" button to the top right of one of the sections below.</p>
        
    <p>To reorder the policies list: go to the "Policies files" page (mentioned at the top here) so you can see the full list of all the items in the policies files list. On the top right should be a button labelled "Reorder", click this and it will change the appearance of the list, and you can now click and drag each item to reorder it. Click the "Save Changes" button at the bottom of the list when finished.</p>
</perch:help>

<li>
  <a href="<perch:content id="file" type="file" label="File" order="3" />">
    <perch:content
      type="text"
      id="desc"
      label="Text to display in link to file"
      order="1"
      required="true"
      title="true"
    />
  </a>
  (
    <perch:content
      type="text"
      id="customfiletype"
      label="Download type (PDF/Word Document/etc)"
      order="2"
      required="true"
      title="true"
    />
  )
</li>
