<perch:help>
    <p>Please be careful about adding any additional words here as it will likely break the layout!</p>
</perch:help>
    
    <h3 class="home-splash-bottom-h3 margin-20-right-per padding-none right"><perch:content id="daytime" type="text" label="Day/time" required title></h3>
                <h2 class="clear home-splash-bottom-h2 margin-22-right-per right"><span class="white"><perch:content id="entryfee" type="text" label="Entry fee" required title></span> <span class="padding-3-left"><perch:content id="age" type="text" label="Age range" required title></span></h2>