<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
Header set Cache-Control "max-age=604800, public"
</FilesMatch>

# Caching rule to make sure files refresh, some clients have complained of this not happening, so just to be safe!

<IfModule mod_rewrite.c>

RewriteEngine On

RewriteRule ^about/$ about.php
RewriteRule ^about/history/$ about-history.php
RewriteRule ^about/policies/$ about-policies.php
RewriteRule ^contact/$ contact.php
RewriteRule ^diary/$ dates.php
RewriteRule ^events/$ events.php
RewriteRule ^events/archive/$ events-archive.php
RewriteRule ^join/$ membership.php
RewriteRule ^sitemap/$ sitemap.php
RewriteRule ^volunteer/$ volunteer.php [L]

# This only worked because I created subfolders corresponding with rewrite rule on server, otherwise it wouldn't have it. Still works without subfolders on localhost. Doesn't work for live as can't go more than one folder down without getting an forbidden message.
# super reduced down, no need for [L] until after last statement and caret ^ doesn't seem to be needed but is a good idea from what tutorials say as it prevents erroneous strings from being accepted for redirect

</IfModule>